In [1]:
#Importing required packages
import pandas as pd
import numpy as np

# Data Preprocessing and Feature Engineering

In [2]:
df1=pd.read_csv('Dataset/Development.csv') #Dataset1 - development courses related to software
df1

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,num_published_lectures,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,price_detail__amount,price_detail__currency
0,567828,2020 Complete Python Bootcamp: From Zero to He...,/course/complete-python-bootcamp/,True,1086954,4.56326,4.56743,4.56743,314098,152,0,2015-07-29T00:12:23Z,2015-10-12T21:42:53Z,455.0,INR,8640,INR
1,625204,The Web Developer Bootcamp,/course/the-web-developer-bootcamp/,True,592474,4.64777,4.65291,4.65291,181621,405,0,2015-09-28T21:32:19Z,2015-11-02T21:13:27Z,455.0,INR,8640,INR
2,950390,Machine Learning A-Z™: Hands-On Python & R In ...,/course/machinelearning/,True,687330,4.55210,4.54932,4.54932,131007,323,0,2016-09-05T09:54:22Z,2016-09-13T21:43:44Z,455.0,INR,8640,INR
3,756150,Angular - The Complete Guide (2020 Edition),/course/the-complete-guide-to-angular-2/,True,417746,4.57687,4.58594,4.58594,128705,455,0,2016-02-08T17:02:55Z,2016-02-11T07:29:29Z,462.0,INR,8640,INR
4,533682,Java Programming Masterclass for Software Deve...,/course/java-the-complete-java-developer-course/,True,497195,4.56571,4.57203,4.57203,122306,400,0,2015-06-21T20:25:56Z,2015-07-21T22:01:13Z,455.0,INR,8640,INR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9927,2491260,Simple image classification using KNN,/course/simple-image-classification-using-knn/,True,36,4.06250,3.90201,3.90201,8,15,0,2019-08-02T22:47:25Z,2019-08-13T22:40:09Z,455.0,INR,1280,INR
9928,2533542,Spring AOP Crash Course,/course/spring-aop-crash-course/,True,1404,3.25000,3.00652,3.00652,8,29,0,2019-08-29T11:49:22Z,2019-08-30T21:30:11Z,455.0,INR,1280,INR
9929,2552283,Google Chrome Extensions | Create Awesome Exte...,/course/google-chrome-extensions/,True,75,4.25000,4.12268,4.12268,8,53,0,2019-09-10T08:02:09Z,2020-01-30T20:39:08Z,455.0,INR,6400,INR
9930,96808,Advanced Java Programming (Java SE 7),/course/advanced-java-programming-java-se-7-vtc/,True,80,3.50000,3.42335,3.42335,8,103,0,2013-09-24T21:18:14Z,2013-10-04T13:34:06Z,NaN,NaN,2560,INR
9931,1783958,Master Series: Build Models & Games in Unity &...,/course/unityblender2d3d/,True,237,4.06250,4.08441,4.08441,8,152,0,2018-07-05T17:00:45Z,2018-07-11T21:11:18Z,455.0,INR,8640,INR

In [3]:
df2=pd.read_csv('Dataset/IT_Software.csv')#dataset2 - courses related to It and Software.
df2.drop(['is_wishlisted', 'discount_price__price_string','price_detail__price_string'], axis=1, inplace=True)
df2

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,num_published_lectures,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,price_detail__amount,price_detail__currency
0,762616,The Complete SQL Bootcamp 2020: Go from Zero t...,/course/the-complete-sql-bootcamp/,True,295509,4.66019,4.67874,4.67874,78006,84,0,2016-02-14T22:57:48Z,2016-04-06T05:16:11Z,455.0,INR,8640.0,INR
1,937678,Tableau 2020 A-Z: Hands-On Tableau Training fo...,/course/tableau10/,True,209070,4.58956,4.60015,4.60015,54581,78,0,2016-08-22T12:10:18Z,2016-08-23T16:59:49Z,455.0,INR,8640.0,INR
2,1361790,PMP Exam Prep Seminar - PMBOK Guide 6,/course/pmp-pmbok6-35-pdus/,True,155282,4.59491,4.59326,4.59326,52653,292,2,2017-09-26T16:32:48Z,2017-11-14T23:58:14Z,455.0,INR,8640.0,INR
3,648826,The Complete Financial Analyst Course 2020,/course/the-complete-financial-analyst-course/,True,245860,4.54407,4.53772,4.53772,46447,338,0,2015-10-23T13:34:35Z,2016-01-21T01:38:48Z,455.0,INR,8640.0,INR
4,637930,An Entire MBA in 1 Course:Award Winning Busine...,/course/an-entire-mba-in-1-courseaward-winning...,True,374836,4.47080,4.47173,4.47173,41630,83,0,2015-10-12T06:39:46Z,2016-01-11T21:39:33Z,455.0,INR,8640.0,INR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22848,1516977,Fundamental Service Oriented Arch (SOA) Securi...,/course/fundamental-service-oriented-arch-soa-...,True,16,3.25000,2.65702,2.65702,2,0,2,2018-01-19T09:03:46Z,2018-01-28T09:20:37Z,455.0,INR,1280.0,INR
22849,1479824,Linux Certification for Experts - Practice Tes...,/course/linux-certification-for-beginners-prac...,True,15,4.00000,3.56818,3.56818,2,0,2,2017-12-23T12:44:39Z,2017-12-24T07:38:36Z,455.0,INR,1280.0,INR
22850,1879598,SAP SuccessFactors Employee Central Payroll Fu...,/course/public-transport-management-systems/,True,19,2.75000,2.70354,2.70354,2,5,0,2018-08-27T14:43:42Z,2018-09-19T23:19:18Z,NaN,NaN,1280.0,INR
22851,1940616,Comptia Linux+ / LPIC-1 (102-400),/course/comptia-linux-lpic-1-102-400/,True,1082,3.75000,3.72059,3.72059,2,31,0,2018-09-30T15:11:27Z,2018-12-11T16:22:32Z,455.0,INR,1280.0,INR
22852,543712,Cisco Networking CCNA IPv6 OSPF,/course/networkingstepbystep-ipv6-ospf/,True,858,4.50000,4.48220,4.48220,2,24,0,2015-07-03T02:24:30Z,2015-07-07T00:01:23Z,455.0,INR,8640.0,INR

In [4]:
df=pd.concat([df1, df2], ignore_index=True, verify_integrity=True) #Conactenate two datasets - dataset1 and dataset2
df

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,num_published_lectures,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,price_detail__amount,price_detail__currency
0,567828,2020 Complete Python Bootcamp: From Zero to He...,/course/complete-python-bootcamp/,True,1086954,4.56326,4.56743,4.56743,314098,152,0,2015-07-29T00:12:23Z,2015-10-12T21:42:53Z,455.0,INR,8640.0,INR
1,625204,The Web Developer Bootcamp,/course/the-web-developer-bootcamp/,True,592474,4.64777,4.65291,4.65291,181621,405,0,2015-09-28T21:32:19Z,2015-11-02T21:13:27Z,455.0,INR,8640.0,INR
2,950390,Machine Learning A-Z™: Hands-On Python & R In ...,/course/machinelearning/,True,687330,4.55210,4.54932,4.54932,131007,323,0,2016-09-05T09:54:22Z,2016-09-13T21:43:44Z,455.0,INR,8640.0,INR
3,756150,Angular - The Complete Guide (2020 Edition),/course/the-complete-guide-to-angular-2/,True,417746,4.57687,4.58594,4.58594,128705,455,0,2016-02-08T17:02:55Z,2016-02-11T07:29:29Z,462.0,INR,8640.0,INR
4,533682,Java Programming Masterclass for Software Deve...,/course/java-the-complete-java-developer-course/,True,497195,4.56571,4.57203,4.57203,122306,400,0,2015-06-21T20:25:56Z,2015-07-21T22:01:13Z,455.0,INR,8640.0,INR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32780,1516977,Fundamental Service Oriented Arch (SOA) Securi...,/course/fundamental-service-oriented-arch-soa-...,True,16,3.25000,2.65702,2.65702,2,0,2,2018-01-19T09:03:46Z,2018-01-28T09:20:37Z,455.0,INR,1280.0,INR
32781,1479824,Linux Certification for Experts - Practice Tes...,/course/linux-certification-for-beginners-prac...,True,15,4.00000,3.56818,3.56818,2,0,2,2017-12-23T12:44:39Z,2017-12-24T07:38:36Z,455.0,INR,1280.0,INR
32782,1879598,SAP SuccessFactors Employee Central Payroll Fu...,/course/public-transport-management-systems/,True,19,2.75000,2.70354,2.70354,2,5,0,2018-08-27T14:43:42Z,2018-09-19T23:19:18Z,NaN,NaN,1280.0,INR
32783,1940616,Comptia Linux+ / LPIC-1 (102-400),/course/comptia-linux-lpic-1-102-400/,True,1082,3.75000,3.72059,3.72059,2,31,0,2018-09-30T15:11:27Z,2018-12-11T16:22:32Z,455.0,INR,1280.0,INR
32784,543712,Cisco Networking CCNA IPv6 OSPF,/course/networkingstepbystep-ipv6-ospf/,True,858,4.50000,4.48220,4.48220,2,24,0,2015-07-03T02:24:30Z,2015-07-07T00:01:23Z,455.0,INR,8640.0,INR

In [5]:
#Columns of the dataset
df.columns

Index(['id', 'title', 'url', 'is_paid', 'num_subscribers', 'avg_rating',
       'avg_rating_recent', 'rating', 'num_reviews', 'num_published_lectures',
       'num_published_practice_tests', 'created', 'published_time',
       'discount_price__amount', 'discount_price__currency',
       'price_detail__amount', 'price_detail__currency'],
      dtype='object')

In [6]:
#Columns which have Nan Values
for i in range(len(df.columns)):
    rows=[]
    if df[df.columns[i]].isnull().values.any():
        print(df.columns[i])
        #print([k for k,j in enumerate(df[df.columns[i]].isnull()) if j])
        print(df[df.columns[i]].isnull().sum())

discount_price__amount
1997
discount_price__currency
1997
price_detail__amount
497
price_detail__currency
497

<h3>Replacing Null Values with useful information in dataset</h3>

In [7]:
#Replace these null values with appropriate data
df['discount_price__currency'].value_counts() #All are INR hence all Nan values also would be INR
df['discount_price__currency'].fillna('INR',inplace=True)
df['discount_price__currency'].value_counts()

INR    32785
Name: discount_price__currency, dtype: int64

In [8]:
df['price_detail__currency'].value_counts() #All are INR hence all Nan values also would be INR
df['price_detail__currency'].fillna('INR',inplace=True)
df['price_detail__currency'].value_counts()

INR    32785
Name: price_detail__currency, dtype: int64

In [9]:
df['price_detail__amount'].count() #Those that are Nan are missed as their records are not available or free in this case we won't take it as free but 
df['price_detail__amount'].interpolate(inplace=True) #Average of upper and lower values in same column
df['price_detail__amount'].count()

32785

In [10]:
#Replacing Null values in discount with original price as no discount is given on those courses.
print(df['discount_price__amount'].isnull().values.any())
for i,j in enumerate(df['discount_price__amount'].isnull()):
    if j:
        df['discount_price__amount'][i] = df['price_detail__amount'][i]
print(df['discount_price__amount'].isnull().values.any())

True

e:\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

False

In [11]:
#Check if Null values are present.
df.isnull().values.any()

False

<h3>Removing duplicates from merged dataset</h3>

In [12]:
#Check all those indexes having duplicate records due to merging.
l = []
for i,j in enumerate(df['id'].value_counts()):
    if j==2:
        l.append(df['id'].value_counts().index[i])
print(l)

[1550970, 1607634, 2090934, 2295071, 1249654, 1455476, 1975038, 183340, 1482458, 2162156, 1395032, 1763714, 1151492, 1091786, 1921420, 866196, 2322586, 2210930, 1796722, 1589870, 1473446, 2235138, 2235136, 753174, 1326802, 1315794, 2210924, 1724320, 1312042, 541496, 1231706, 1264304, 362632, 2220736]

In [13]:
#Total count of records before removing duplicates.
df.count()
for i in l:
    df.drop(df[df['id']==i].index[0], inplace=True)
df.count()

id                              32751
title                           32751
url                             32751
is_paid                         32751
num_subscribers                 32751
avg_rating                      32751
avg_rating_recent               32751
rating                          32751
num_reviews                     32751
num_published_lectures          32751
num_published_practice_tests    32751
created                         32751
published_time                  32751
discount_price__amount          32751
discount_price__currency        32751
price_detail__amount            32751
price_detail__currency          32751
dtype: int64

In [14]:
l = []
for i,j in enumerate(df['id'].value_counts()):
    if j==2:
        l.append(df['id'].value_counts().index[i])
print(l)#Empty list implies duplicates are removed

[]

In [15]:
#See which columns can be removed to perform further analytics
df.columns
#No need of discount_currency and price_currency as all are in INR
#Avg_recent rating and avg_rating is same hence just rating can be kept
#is_paid is to be checked

Index(['id', 'title', 'url', 'is_paid', 'num_subscribers', 'avg_rating',
       'avg_rating_recent', 'rating', 'num_reviews', 'num_published_lectures',
       'num_published_practice_tests', 'created', 'published_time',
       'discount_price__amount', 'discount_price__currency',
       'price_detail__amount', 'price_detail__currency'],
      dtype='object')

<h3>Removing unnecessary columns from the dataset</h3>

In [16]:
print(df['discount_price__currency'].value_counts())
print(df['price_detail__currency'].value_counts())
#Both can be dropped.

#We fill fing correlation between df['rating'] and df['avg_rating_recent']
cor = df['rating'].corr(df['avg_rating_recent'])
print(cor)#Its 1.0 so its same
cor = df['rating'].corr(df['avg_rating'])
print(cor)#its varying hence has high correlation its fine
#We can remove avg_rating_recent

print(df['is_paid'].value_counts())#Both are there hence should consider it
print(df['created'], df['published_time'])#Both aredifferent

INR    32751
Name: discount_price__currency, dtype: int64
INR    32751
Name: price_detail__currency, dtype: int64
1.0
0.9798472201983944
True     32254
False      497
Name: is_paid, dtype: int64
0        2015-07-29T00:12:23Z
1        2015-09-28T21:32:19Z
2        2016-09-05T09:54:22Z
3        2016-02-08T17:02:55Z
4        2015-06-21T20:25:56Z
                 ...
32780    2018-01-19T09:03:46Z
32781    2017-12-23T12:44:39Z
32782    2018-08-27T14:43:42Z
32783    2018-09-30T15:11:27Z
32784    2015-07-03T02:24:30Z
Name: created, Length: 32751, dtype: object 0        2015-10-12T21:42:53Z
1        2015-11-02T21:13:27Z
2        2016-09-13T21:43:44Z
3        2016-02-11T07:29:29Z
4        2015-07-21T22:01:13Z
                 ...
32780    2018-01-28T09:20:37Z
32781    2017-12-24T07:38:36Z
32782    2018-09-19T23:19:18Z
32783    2018-12-11T16:22:32Z
32784    2015-07-07T00:01:23Z
Name: published_time, Length: 32751, dtype: object

In [17]:
#We remove 3 columns from the dataset - avg_rating_recent, discount_price__currency and price_detail__currency
df.drop(['avg_rating_recent', 'discount_price__currency', 'price_detail__currency'], axis=1, inplace=True)
df

,id,title,url,is_paid,num_subscribers,avg_rating,rating,num_reviews,num_published_lectures,num_published_practice_tests,created,published_time,discount_price__amount,price_detail__amount
0,567828,2020 Complete Python Bootcamp: From Zero to He...,/course/complete-python-bootcamp/,True,1086954,4.56326,4.56743,314098,152,0,2015-07-29T00:12:23Z,2015-10-12T21:42:53Z,455.0,8640.0
1,625204,The Web Developer Bootcamp,/course/the-web-developer-bootcamp/,True,592474,4.64777,4.65291,181621,405,0,2015-09-28T21:32:19Z,2015-11-02T21:13:27Z,455.0,8640.0
2,950390,Machine Learning A-Z™: Hands-On Python & R In ...,/course/machinelearning/,True,687330,4.55210,4.54932,131007,323,0,2016-09-05T09:54:22Z,2016-09-13T21:43:44Z,455.0,8640.0
3,756150,Angular - The Complete Guide (2020 Edition),/course/the-complete-guide-to-angular-2/,True,417746,4.57687,4.58594,128705,455,0,2016-02-08T17:02:55Z,2016-02-11T07:29:29Z,462.0,8640.0
4,533682,Java Programming Masterclass for Software Deve...,/course/java-the-complete-java-developer-course/,True,497195,4.56571,4.57203,122306,400,0,2015-06-21T20:25:56Z,2015-07-21T22:01:13Z,455.0,8640.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32780,1516977,Fundamental Service Oriented Arch (SOA) Securi...,/course/fundamental-service-oriented-arch-soa-...,True,16,3.25000,2.65702,2,0,2,2018-01-19T09:03:46Z,2018-01-28T09:20:37Z,455.0,1280.0
32781,1479824,Linux Certification for Experts - Practice Tes...,/course/linux-certification-for-beginners-prac...,True,15,4.00000,3.56818,2,0,2,2017-12-23T12:44:39Z,2017-12-24T07:38:36Z,455.0,1280.0
32782,1879598,SAP SuccessFactors Employee Central Payroll Fu...,/course/public-transport-management-systems/,True,19,2.75000,2.70354,2,5,0,2018-08-27T14:43:42Z,2018-09-19T23:19:18Z,1280.0,1280.0
32783,1940616,Comptia Linux+ / LPIC-1 (102-400),/course/comptia-linux-lpic-1-102-400/,True,1082,3.75000,3.72059,2,31,0,2018-09-30T15:11:27Z,2018-12-11T16:22:32Z,455.0,1280.0
32784,543712,Cisco Networking CCNA IPv6 OSPF,/course/networkingstepbystep-ipv6-ospf/,True,858,4.50000,4.48220,2,24,0,2015-07-03T02:24:30Z,2015-07-07T00:01:23Z,455.0,8640.0

<h3>Saving the new dataset and validating it against performed operations are reflected or not</h3>

In [18]:
df.to_csv('Dataset/Development_IT.csv', index=False)

In [19]:
#Now we import the new dataset merged before to check records and null values if any
df_new = pd.read_csv('Dataset/Development_IT.csv')
df_new

,id,title,url,is_paid,num_subscribers,avg_rating,rating,num_reviews,num_published_lectures,num_published_practice_tests,created,published_time,discount_price__amount,price_detail__amount
0,567828,2020 Complete Python Bootcamp: From Zero to He...,/course/complete-python-bootcamp/,True,1086954,4.56326,4.56743,314098,152,0,2015-07-29T00:12:23Z,2015-10-12T21:42:53Z,455.0,8640.0
1,625204,The Web Developer Bootcamp,/course/the-web-developer-bootcamp/,True,592474,4.64777,4.65291,181621,405,0,2015-09-28T21:32:19Z,2015-11-02T21:13:27Z,455.0,8640.0
2,950390,Machine Learning A-Z™: Hands-On Python & R In ...,/course/machinelearning/,True,687330,4.55210,4.54932,131007,323,0,2016-09-05T09:54:22Z,2016-09-13T21:43:44Z,455.0,8640.0
3,756150,Angular - The Complete Guide (2020 Edition),/course/the-complete-guide-to-angular-2/,True,417746,4.57687,4.58594,128705,455,0,2016-02-08T17:02:55Z,2016-02-11T07:29:29Z,462.0,8640.0
4,533682,Java Programming Masterclass for Software Deve...,/course/java-the-complete-java-developer-course/,True,497195,4.56571,4.57203,122306,400,0,2015-06-21T20:25:56Z,2015-07-21T22:01:13Z,455.0,8640.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32746,1516977,Fundamental Service Oriented Arch (SOA) Securi...,/course/fundamental-service-oriented-arch-soa-...,True,16,3.25000,2.65702,2,0,2,2018-01-19T09:03:46Z,2018-01-28T09:20:37Z,455.0,1280.0
32747,1479824,Linux Certification for Experts - Practice Tes...,/course/linux-certification-for-beginners-prac...,True,15,4.00000,3.56818,2,0,2,2017-12-23T12:44:39Z,2017-12-24T07:38:36Z,455.0,1280.0
32748,1879598,SAP SuccessFactors Employee Central Payroll Fu...,/course/public-transport-management-systems/,True,19,2.75000,2.70354,2,5,0,2018-08-27T14:43:42Z,2018-09-19T23:19:18Z,1280.0,1280.0
32749,1940616,Comptia Linux+ / LPIC-1 (102-400),/course/comptia-linux-lpic-1-102-400/,True,1082,3.75000,3.72059,2,31,0,2018-09-30T15:11:27Z,2018-12-11T16:22:32Z,455.0,1280.0
32750,543712,Cisco Networking CCNA IPv6 OSPF,/course/networkingstepbystep-ipv6-ospf/,True,858,4.50000,4.48220,2,24,0,2015-07-03T02:24:30Z,2015-07-07T00:01:23Z,455.0,8640.0

In [20]:
#Check for null values if any
df_new.isnull().values.any()

False

In [21]:
#Check for duplicates if any
l=[]
for i,j in enumerate(df_new['id'].value_counts()):
    if j==2:
        l.append(df_new['id'].value_counts().index[i])
print(l)#Implies duplicates are removed

[]